<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>APP</title>
	</head>
	<body>
		<h1>APP</h1>

        {% if campi.presencial %}
            <h2>Planilhas de Cursos Presenciais</h2>
            <ul id="presencial" style="list-style-type:square">
            {% for campus in campi.presencial %}
                <li><a href="{{ campus.href }}">{{ campus.caption }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if campi.ead %}
            <h2>Planilhas de Cursos EaD</h2>
            <ul id="ead" style="list-style-type:square">
            {% for campus in campi.ead %}
                <li><a href="{{ campus.href }}">{{ campus.caption }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if campi.fic %}
            <h2>Planilhas de Cursos FIC</h2>
            <ul id="fic" style="list-style-type:square">
            {% for campus in campi.fic %}
                <li><a href="{{ campus.href }}">{{ campus.caption }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
	</body>
</html>
